/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
}

.list {
    list-style-type: none;
    margin-left: auto;
    display: none;
}

@media (min-width: 640px) {
    nav {
        padding: 16px 50px 30px 50px;
    }
    .list {
        display: flex;
    }
    .list li {
        margin-left: 20px;
    }
}

/* Card Styles */
.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

/* Gradient Background for Card */
.gradient-custom {
    background: #f6d365;
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    color: white;
}

/* Form Styles */
.form-label {
    font-weight: bold;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover, .btn-primary:hover {
    opacity: 0.9;
}

/* Product Image */
.product-image {
    max-width: 100px;
    height: auto;
}

@media (max-width: 767.98px) {
    .product-media {
        flex-direction: column;
        align-items: flex-start;
    }
    .product-image {
        max-width: 80px;
    }
}
