
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{QUERY_STRING} ^i=1$ [NC]
RewriteRule ^$ https://ctis256project.com.tr/login.php? [R=301,L]


DirectoryIndex login.php


ErrorDocument 403 https://errors.infinityfree.net/errors/403/
ErrorDocument 404 https://errors.infinityfree.net/errors/404/
ErrorDocument 500 https://errors.infinityfree.net/errors/500/


RewriteCond %{HTTP_HOST} ^ctis256project.infinityfreeapp.com$ [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /login.php [L,R=302]
